<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Weather Charts</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
		</script>
	</head>
	<body>
		<h1 style="text-align: center">Weather Charts</h1>
		<div class="centred-outer">
			<div class="centred-inner">
			<p class="pretty-frame">
				<button class="btn" onclick="getHREF('weather')"><i class="fa fa-cloud"></i> Current</button>
				<button class="btn" onclick="getHREF('24h')"><i class="fa fa-line-chart"></i> Last 24h</button>
				<button class="btn" onclick="getHREF('7d')"><i class="fa fa-line-chart"></i> Last 7d</button>
				<button class="btn" onclick="getHREF('28d')"><i class="fa fa-line-chart"></i> Last 28d</button>
			</p>
			</div>

			<script>
				function getHREF(ref) {
					if (ref == 'weather') {
						window.location.href = "/weather";
					}
					else if (ref == '24h') {
						window.location.href = "/weather/charts?period=24h";
					}
					else if (ref == '7d') {
						window.location.href = "/weather/charts?period=7d";
					}
					else if (ref == '28d') {
						window.location.href = "/weather/charts?period=28d";
					}
				}
			</script>
		</div>
		<div class="centred-div">
			<p class="pretty-frame">
				<canvas id="temperatureChart" width="1600" height="1200"></canvas>
			</p>
			<script>
				var ctxTemp = document.getElementById('temperatureChart');

				new Chart(ctxTemp, {
					type: 'line',
					data: {
						labels: [
							<% if(xLabels !== null){ %>
								<%= xLabels %>
							<% } %>
						],
						datasets: [{
							data: [
								<% if(tempReadings !== null){ %>
									<%= tempReadings %>
								<% } %>
							],
							label: 'Temp C',
							borderColor: "#3e95cd",
							fill: false
						}]
					},
					options: {
						responsive: true,
						legend: {
							position: 'bottom',
						},
						scales: {
							xAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: '<%= chartXLabel %>'
									}
								}],
							yAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: 'deg. C'
									},
									ticks: {
										stepSize: 5,
										suggestedMin: 0,
										suggestedMax: 30
									}
								}]
						},
						title: {
							display: true,
							text: '<%= chartTempTitle %>'
						}
					}
					
				});
			</script>
			<p class="pretty-frame">
				<canvas id="pressureChart" width="1600" height="1200"></canvas>
			</p>
			<script>
				var ctxPressure = document.getElementById('pressureChart');

				new Chart(ctxPressure, {
					type: 'line',
					data: {
						labels: [
							<% if(xLabels !== null){ %>
								<%= xLabels %>
							<% } %>
						],
						datasets: [{
							data: [
								<% if(pressureReadings !== null){ %>
									<%= pressureReadings %>
								<% } %>
							],
							label: 'Air Pressure mbar',
							borderColor: "#3e95cd",
							fill: false
						}]
					},
					options: {
						responsive: true,
						legend: {
							position: 'bottom',
						},
						scales: {
							xAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: '<%= chartXLabel %>'
									}
								}],
							yAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: 'mbar'
									},
									ticks: {
										stepSize: 2,
										suggestedMin: 1000,
										suggestedMax: 1040
									}
								}]
						},
						title: {
							display: true,
							text: '<%= chartPresTitle %>'
						}
					}
					
				});
			</script>
			<p class="pretty-frame">
				<canvas id="humidityChart" width="1600" height="1200"></canvas>
			</p>
			<script>
				var ctxHumidity = document.getElementById('humidityChart');

				new Chart(ctxHumidity, {
					type: 'line',
					data: {
						labels: [
							<% if(xLabels !== null){ %>
								<%= xLabels %>
							<% } %>
						],
						datasets: [{
							data: [
								<% if(humidityReadings !== null){ %>
									<%= humidityReadings %>
								<% } %>
							],
							label: 'RH %',
							borderColor: "#3e95cd",
							fill: false
						}]
					},
					options: {
						responsive: true,
						legend: {
							position: 'bottom',
						},
						scales: {
							xAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: '<%= chartXLabel %>'
									}
								}],
							yAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: 'RH'
									},
									ticks: {
										stepSize: 5,
										suggestedMin: 50,
										suggestedMax: 100
									}
								}]
						},
						title: {
							display: true,
							text: '<%= chartHumiTitle %>'
						}
					}
				});
			</script>
		</div>
	</body>
</html>