<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Weather Charts</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300'
	rel='stylesheet' type='text/css'>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
	<h1 style="text-align: center">Weather Charts</h1>
	<form>
		<div class="radio-group">
			<input type="radio" id="option-one" name="selector" checked="true">
			<label for="option-one">Last 24h</label>
			<input type="radio" id="option-two" name="selector">
			<label for="option-two">Last 7d</label>
			<input type="radio" id="option-three" name="selector">
			<label for="option-three">Last 28d</label>
		</div>
	</form>
	<div class="container">
		<canvas id="temperatureChart" width="1600" height="1200"></canvas>
		<script>
				var ctxTemp = document.getElementById('temperatureChart');

				new Chart(ctxTemp, {
					type: 'line',
					data: {
						labels: [
							<% if(xLabels !== null){ %>
								<%= xLabels %>
							<% } %>
						],
						datasets: [{
							data: [
								<% if(tempReadings !== null){ %>
									<%= tempReadings %>
								<% } %>
							],
							label: 'Temp C',
							borderColor: "#3e95cd",
							fill: false
						}]
					},
					options: {
						responsive: true,
                		legend: {
                    		position: 'bottom',
                		},
						scales: {
							xAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: '<%= chartXLabel %>'
									}
								}],
							yAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: 'deg. C'
									},
									ticks: {
										stepSize: 5,
										suggestedMin: 0,
										suggestedMax: 30
									}
								}]
                		},
						title: {
							display: true,
							text: '<%= chartTempTitle %>'
						}
					}
					
				});
			</script>
		<canvas id="pressureChart" width="1600" height="1200"></canvas>
		<script>
				var ctxPressure = document.getElementById('pressureChart');

				new Chart(ctxPressure, {
					type: 'line',
					data: {
						labels: [
							<% if(xLabels !== null){ %>
								<%= xLabels %>
							<% } %>
						],
						datasets: [{
							data: [
								<% if(pressureReadings !== null){ %>
									<%= pressureReadings %>
								<% } %>
							],
							label: 'Air Pressure mbar',
							borderColor: "#3e95cd",
							fill: false
						}]
					},
					options: {
						responsive: true,
                		legend: {
                    		position: 'bottom',
                		},
						scales: {
							xAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: '<%= chartXLabel %>'
									}
								}],
							yAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: 'mbar'
									},
									ticks: {
										stepSize: 2,
										suggestedMin: 1000,
										suggestedMax: 1040
									}
								}]
                		},
						title: {
							display: true,
							text: '<%= chartPresTitle %>'
						}
					}
					
				});
			</script>
		<canvas id="humidityChart" width="1600" height="1200"></canvas>
		<script>
				var ctxHumidity = document.getElementById('humidityChart');

				new Chart(ctxHumidity, {
					type: 'line',
					data: {
						labels: [
							<% if(xLabels !== null){ %>
								<%= xLabels %>
							<% } %>
						],
						datasets: [{
							data: [
								<% if(humidityReadings !== null){ %>
									<%= humidityReadings %>
								<% } %>
							],
							label: 'RH %',
							borderColor: "#3e95cd",
							fill: false
						}]
					},
					options: {
						responsive: true,
                		legend: {
                    		position: 'bottom',
                		},
						scales: {
							xAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: '<%= chartXLabel %>'
									}
								}],
							yAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: 'RH'
									},
									ticks: {
										stepSize: 5,
										suggestedMin: 50,
										suggestedMax: 100
									}
								}]
                		},
						title: {
							display: true,
							text: '<%= chartHumiTitle %>'
						}
					}
				});
			</script>
	</div>
</body>
</html>