<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Current Weather</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <h1 style="text-align:center">Current Weather</h1>
      <table class="table-left">
        <tr>
          <th></th>
          <th style="text-align:center"><font size="6">Minimum</font></th>
          <th style="text-align:center"><font size="6">Current</font></th>
          <th style="text-align:center"><font size="6">Maximum</font></th>
        </tr>
        <tr>
          <td style="text-align:left"><font size="6">Temperature</font></td>
          <td style="text-align:center">
            <% if(minTemperature !== null){ %>
		      <p><%= minTemperature %></p>
		    <% } %>
          </td>
          <td style="text-align:center">
            <% if(avgTemperature !== null){ %>
		      <p><font size="12"><b><%= avgTemperature %></b></font></p>
		    <% } %>
          </td>
          <td style="text-align:center">
            <% if(maxTemperature !== null){ %>
		      <p><%= maxTemperature %></p>
		    <% } %>
          </td>
        </tr>
        <tr>
          <td style="text-align:left"><font size="6">Pressure</font></td>
          <td style="text-align:center">
            <% if(minPressure !== null){ %>
		      <p><%= minPressure %></p>
		    <% } %>
          </td>
          <td style="text-align:center">
            <% if(avgPressure !== null){ %>
		      <p><font size="12"><b><%= avgPressure %></b></font></p>
		    <% } %>
          </td>
          <td style="text-align:center">
            <% if(maxPressure !== null){ %>
		      <p><%= maxPressure %></p>
		    <% } %>
          </td>
        </tr>
        <tr>
          <td style="text-align:left"><font size="6">Humidity</font></td>
          <td style="text-align:center">
            <% if(minHumidity !== null){ %>
		      <p><%= minHumidity %></p>
		    <% } %>
          </td>
          <td style="text-align:center">
            <% if(avgHumidity !== null){ %>
		      <p><font size="12"><b><%= avgHumidity %></b></font></p>
		    <% } %>
          </td>
          <td style="text-align:center">
            <% if(maxHumidity !== null){ %>
		      <p><%= maxHumidity %></p>
		    <% } %>
          </td>
        </tr>
      </table>
      <a href="/charts">Weather Charts</a>
    </div>
  </body>
</html>